*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/eid-mubarak.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: floating 8s linear infinite;
    animation-direction: alternate;
}
section h1{
    font-size: 150px;
    color: #fff;
    font-family: 'Tangerine', cursive;
    text-shadow: -9px 10px 1px #2322226b;
    position: relative;
}
section h1::before{
    content: '';
    position: absolute;
    left: -100px;
    top: -190px;
    width: 200px;
    height: 100px;
    border-left: 15px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    transform: rotate(-40deg);
}
@keyframes floating{
    0%{
        left: 49%;
    }
    25%{
        top: 49%;
    }
    75%{
        left: 51%;
    }
    100%{
        top: 51%;
    }
}
.mosque{
    background-image: url(../images/mosque.png);
    min-height: 200px;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 310px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: mosques 40s linear infinite;
}
.mosque::before{
    content: '';
    background-image: url(../images/mosque.png);
    min-height: 300px;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 410px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: .2;
    animation: mosques 40s linear infinite;
    animation-direction: reverse;
}
@keyframes mosques{
    0%{
        background-position: -100px;
    }
    100%{
        background-position: 1600px;
    }
}
.particles-js-canvas-el{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 70vh;
}